body {
  font-family: 'Quicksand', sans-serif;
  background-color: #23023b;
  margin: 0;
  padding: 0;
  display: block;
}

.header,
.footer {
  color: #eedb36;
  font-weight: 700;
  background-color: #650a75;
  text-align: center;
  color: hsl(0deg 0% 90%);
}

.header {
  font-size: 38px;
  margin: 0 0 16px 0;
  padding: 0;
}

.change-box-quantity {
  margin: 24px 0;
}

.change-box-quantity > button {
  font-size: 24px;
  font-weight: 600;
  margin: auto;
  color: #eedb36;
  background-color: #650a75;
  border-color: #eedb36;
  display: block;
}

.container {
  width: 960px;
  height: 960px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.sector {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  border-width: 0;
  aspect-ratio: 1 / 1 ;
}

.footer {
  font-size: 16px;
  margin: 32px 0 0 0;
  padding: 12px 0;
}