body {
  font-family: 'Quicksand', sans-serif;
  display: block;
}

.container {
  width: 960px;
  height: 960px;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
}

.sector {
  background-color: black;
  margin: 0;
  padding: 0;
  border-width: 0;
  aspect-ratio: 1 / 1 ;
}